################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProofOfConcept/.vs/*
/ProofOfConcept/bin/*
/ProofOfConcept/obj/*
/.vs/config
/.vs/ProofOfConcept/v15/sqlite3
