################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProofOfConcept/.vs/*
/ProofOfConcept/bin/*
/ProofOfConcept/obj/*
