<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="RetailX" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*sandbox/retailx*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="sandbox/retailx{R:2}" />
        </rule>
        <rule name="DynamicContent" enabled="true" stopProcessing="false">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server/server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>