@{
    ViewBag.Page = nameof(HomeController.About);
}

<div id="about">
    <p>Retail X was created as a proof of concept and showcase for the <a href="http://developer.bimobject.com">BIMobject Web API</a>, that was launched on BIMobject LIVE 2017. <br /><br />Retail X is a fictional brand, created by members of BIMobject's Dev Team. The source code can be found on the <a href="https://github.com/bimobject" target="_blank">BIMobject GitHub account</a>.</p>
</div>